<ul class="list-unstyled text-center">
  <li><%= link_to 'Dashboard', admin_dashboard_path %></li>
  <li><%= link_to 'Photos', admin_photos_path %></li>
  <li><%= link_to 'Enquiries', admin_enquiries_path %></li>
</ul>